@import "@dbsof/common/mixins.scss";

.cloudLogo {
  @include isMobile {
    width: 37px;
  }
}
.wordmark {
  fill: var(--Grey30);
  @include darkTheme {
    fill: var(--Grey65);
  }
}
.cloud {
  fill: var(--Grey65);
  @include darkTheme {
    fill: var(--Grey40);
  }
}
.beta {
  fill: var(--app-accent-green);
  @include darkTheme {
    fill: var(--app-accent-green);
  }
}
