@import "@dbsof/common/mixins.scss";

.textField {
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: var(--app-text-colour);

  .inputWrapper {
    position: relative;
    align-self: stretch;
    display: flex;
  }

  .hasError {
    input,
    textarea {
      outline: 1px solid var(--error-border);
      border-color: var(--error-border) !important;
      padding-right: 36px;
    }
  }

  .prefix {
    position: absolute;
    line-height: 40px;
    top: 1px;
    left: 12px;
    font-family: "Roboto Mono Variable", monospace;
    font-size: 14px;
    font-weight: 400;
    color: var(--Grey50, #808080);
    white-space: preserve;
  }

  input,
  textarea {
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Grey90, #e6e6e6);
    background: var(--white);
    padding: var(--textInputVPadding, 9px) 12px;
    font-family: "Roboto Mono Variable", monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: inherit;
    outline: 0;
    min-width: 0;
    flex-grow: 1;

    &:read-only {
      background: var(--grey97);
      outline: none;
    }

    &:focus + .error div {
      opacity: 1;
    }
  }

  .error {
    position: absolute;
    height: 100%;
    width: 38px;
    display: flex;
    justify-content: center;
    padding: calc(var(--textInputVPadding, 9px) + 1px) 0;
    box-sizing: border-box;
    right: 0;
    top: 0;
    color: var(--error-color);

    div {
      position: absolute;
      pointer-events: none;
      top: 36px;
      right: 6px;
      width: max-content;
      max-width: 300px;
      color: var(--error-color);
      background: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
      padding: 8px 12px;
      border-radius: 6px;
      border: 1px solid var(--error-border);
      opacity: 0;
      transition: opacity 0.1s;
      z-index: 1;
    }

    &:hover div {
      opacity: 1;
    }
  }

  @include darkTheme {
    color: var(--grey80);

    input,
    textarea {
      border: 1px solid var(--grey30);
      background: var(--grey22);

      &:read-only {
        background: var(--grey25);
      }
    }

    .error {
      div {
        background: rgba(50, 50, 50, 0.85);
        color: var(--error-color);
      }
    }
  }
}
